body {
    background: no-repeat linear-gradient(#009688 20%, #d2dbdb 20% 80%);
    height: 100vh;
}

i {
    cursor: pointer;
}

/********** HEADER **********/

#my-personal-avatar {
    border-radius: 50%;
    padding: 1rem;
}

/* LEFT SIDE */

.my-header-left {
    height: 80px;
    background-color: #EAEAEA;
}

.my-container-border {
    border-right: 0.05px solid #e4e4e4;
}

.my-header-left i {
    color: #B1B1B1;
    font-size: 1.5rem;
}

/* RIGHT SIDE */

.my-header-right {
    height: 80px;
    background-color: #EAEAEA;
}

.my-header-right i {
    color: #B1B1B1;
    font-size: 1.5rem;
}

.my-conversation {
    padding: 2rem;
}

.my-main-right {
    height: calc(80vh - 79px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

.my-sent-message {
    background-color: #D5F9BA;
    padding: 1rem;
    border-radius: 15px;
    max-width: 50%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.my-received-message {
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    max-width: 50%;
    word-break: break-word;
    overflow-wrap: break-word;
}

/********** AZURE **********/

.my-notification {
    height: 80px;
    background-color: #8EDAFC;
}

.my-bg-notification {
    background-color: white;
    aspect-ratio: 1/1;
    width: 3rem;
    height: 3rem;
}

.my-link-color {
    color: #9a9c9e;
}

.my-notification i {
    font-size: 1.5rem;
}

/********** SEARCH BAR **********/

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    border: 0px solid rgba(0,0,0,.125);
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.my-border {
    border-bottom: 0.05px solid #e7e7e7;
}
/********** CONTACTS **********/

.my-box {
    background-color: #FFFFFF;
    height: calc(80vh - 135px);
    overflow-y: auto;
}

.my-contacts {
    height: 85px;
    background-color: #FFFFFF;
    border-bottom: 0.05px solid #e7e7e7;
    cursor: pointer;
}

.my-contacts:hover {
    background-color: #E9EBEB;
}

.my-contacts img {
    width: 70px;
    border-radius: 50%;
}

.my-font-small-color {
    color: #B1B1B1;
}

/********** FOOTER **********/

footer {
    height: 80px;
    background-color: white;
}

footer i {
    color: #B1B1B1;
    font-size: 1.5rem;
}

.my-border-left {
    border-left: 0.05px solid #e4e4e4;

}